.toggle_theme {
    /* position: absolute;
    bottom: 30px;
    left: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem; */
    text-align: center;
    margin-bottom: 20px;
    height: 5dvh;
}

toggle_theme_btn {
    margin-left: 15px;
}