.toggle_theme {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

toggle_theme_btn {
    margin-left: 15px;
}